{% extends 'base.html' %}
{% load hitcount_tags %}
{% load comment_tags %}

{% block content %}
      <main>

            <section class="py-5">
                <div class="container">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h2 class="title-section">همه ویدیوها</h2>

                    </div>
                    <div class="row">
                        {% for article in vi %}
                            {% if article.category == request.category %}
                                request.category

                            <!-- item -->
                            <div class="col-md-6 col-lg-4 my-2">
                                <div class="custom-bg">
                                    <div class="video-card">
                                        <a href="{{ article.get_absolute_url }}" class="position-relative d-block ">
                                            <img src="{{ article.image.url }}" alt="" class="img-fluid w-100 h-100">
                                            <div class="video-play-btn">
                                                <i class="fa fa-play"></i>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between video-category-time">
                                                <h6 class="">{{ article.category.first.title }}</h6>
                                                <span class="vid-time">{{ article.time }}</span>
                                            </div>
                                            <div class="video-card-details">
                                                <div>
                                                    <span>{% get_hit_count for article %}</span>
                                                    <i class="fa fa-eye"></i>
                                                </div>
                                                <div>
                                                    <span>{{ article.number_of_likes }}</span>
                                                    <i class="fa fa-heart"></i>
                                                </div>
                                                <div>
                                                    <span>{% get_comments_count article user %}</span>
                                                    <i class="fa fa-comment"></i>
                                                </div>
                                            </div>
                                            <div class="article-overlay"></div>
                                        </a>

                                    </div>
                                    <a href="{% url 'Article:video_detail' article.pk %}">
                                        <h5 class="video-card-title m-2">{{ article.body }}</h5>
                                    </a>
                                    <div class="my-3 pb-3 mx-2">
                                        <i class="fa fa-user  ml-1 "></i>
                                        <span>{{ article.teacher.get_full_name }}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end item -->
                            {% endif %}
                        {% endfor %}

                    </div>

                    {% if articles.has_other_pages %}
                        <div class="d-flex align-items-center justify-content-center mb-3 pagination">
                            {% if articles.has_previous %}
                                <a href="?page={{ articles.previous_page_number }}" class="mx-1"><i
                                        class="fa fa-chevron-right"></i></a>
                            {% endif %}
                            {% for i in articles.paginator.page_range %}
                                {% if article.number == i %}
                                      <a href="?page=
                                            {{ i }}{% if request.Get.q %}&q={{ request.Get.q }}{% endif %}" class="active mx-1">{{ i }}</a>
                                {% else %}
                                     <a href="?page={{ i }}" class="mx-1">{{ i }}</a>
                                {% endif %}
                            {% endfor %}
                            {% if articles.has_next %}
                                <a href="?page=
                                        {{ articles.next_page_number }}{% if request.Get.q %}&q={{ request.Get.q }}{% endif %}"
                                   class="mx-1"><i class="fa fa-chevron-left"></i></a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </section>
        </main>
    <div style="margin: 200px ">
        <h1>
            hi
        </h1>
    </div>
{% endblock %}