{% extends 'base.html' %}
{% load static %}
{% block title %}فرم اعتبارسنجی{% endblock %}
{% block content %}

    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-7 col-lg-5">
                        <div class="custom-bg p-2">
                            <div class="my-3 text-center">فرم اعتبارسنجی</div>
                            <div class="text-center">
                                {% if form.errors %}
                                    <div class="text-center">
                                        {% if form.errors %}
                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <div class="alert alert-danger">
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                {% endif %}
                                <form class="" method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit" class="btn btn-primary">Send</button>

                                </form>


                            </div>
                        </div>
                    </div>
                </div>
        </section>

    </main>




{% endblock %}