{% extends 'base.html' %}

{% block title %}ارسال ایمیل{% endblock %}

{% block content %}
    <div style="margin: 300px"></div>
    <div class="my-3 text-center"> ایمیل حاوی لینک بازیابی گزرواژه را برای شما ارسال گردید.</div>
    <div>
        <p class="small text-center my-3"><a href="{% url 'Account:Register' %}">ثبت‌نام نکرده‌اید؟ برای
            ثبت‌نام کلیک کنید.</a></p>
        <p class="small text-center my-3"><a href="{% url 'Account:login' %}">حسابی دارید؟
            برای ورود کلیک کنید.</a></p>
    </div>
    <div style="margin:300px;"></div>
{% endblock %}